#product_list div{
    display: inline-block;
    margin: 5px;
}
#product_list img{
    height: 200px;
    object-fit: cover;
}
.card-text{
    max-width: 200px;
}
.card-title{
    max-width: 200px;
}
h1 {
    background-color: lightgray;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    text-transform: uppercase;
}
#photos{
    margin: 5px;
}